
/*
 * Base structure
 */

html,
body {

  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 

  color: #fff;
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
  font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;

  scroll-behavior: smooth;
}

.background{
  background-image: url("resources/images/codeBackgroundDark.png");
  background-color: #1D193C;
  position: fixed;

  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 

  z-index: -1;
}

.background-effect{
  background-image: url("resources/images/codeBackgroundDarkEffects.png");
  background-color: transparent;
  position: absolute;

  top: 0;
  left: 0; 
  width: 100%; 
  height: 100%; 

  z-index: -1;
}


/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container-text{
  font-size: 2vw;
}


/* Padding for spacing */
.inner {
  padding: 2rem;
}

/*glyphicon fix*/
.glyphicon {
    position: static;
}


/*
 * Header
 */

.masthead {
	background-color:  rgba(0,0,0,.8);
 }

.masthead-brand {
  width:  10%;
  height: 10%;
}

.cover-icon-link{
  font-size: 7vw;   
  border-bottom-color:transparent;
  color: rgba(255,100,0,1);
}

.cover-icon-link:hover{
  color: rgba(186,100,255,1); 
  cursor: pointer; 
  text-decoration: none;
  text-shadow: 0.1rem;
}
.cover-icon-link:focus {
	color: rgba(186,100,255,1);
	text-decoration:none; 
	cursor: pointer; 
}

.cover-image {
  padding: 2%;
  width: 22.8%;
}

.nav-link {
  display: inline-block;
  font-weight: normal;
  color: rgba(150,150,150,1);
  background-color: transparent;
  border-bottom-color:transparent;
  padding-right: 1em;
  font-style: normal;
  font-size: 1em; 
  text-align: center;
  text-decoration: none;
}

.nav-text{
  display: inline-block;
  font-weight: normal;
  color: rgba(150,150,150,1);
  background-color: transparent;
  border-bottom-color:transparent;
  padding-right: 1em;
  font-style: normal;
  font-size: 1em; 
  text-align: center;
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
	color: rgba(255,255,255,1);
	text-decoration:none; 
	cursor: pointer;
}

.site-wrapper-inner {
  vertical-align: middle;
}


.cover-container{
  width: 100%;
}

.navbar{
  opacity: 0.8;
  border-radius: 2rem;

  margin:1rem;

  border-style:solid;
  border-width: 0.1rem;
  border-color:#aaa;
}

.nav-link .fancy {
  border-style:solid;
  border-color:#fff;
}


.nav-link .fancy:hover, 
.nav-link .fancy:focus{
  background-color: #fff;
}


.nav-masthead{
  float: right;
}

.nav-masthead .active {
  color: #fff;
}

.textRow{
  padding-bottom: 1rem;
}

h2{
	padding-left: 5em;
	padding-right: 5em;
}

/*
 * Middle
 */

 .jumbotron{
  margin-left: auto;
  margin-right: auto;

  padding-left: 5%;
  padding-right: 5%;

	background-color: rgba(150,150,150,1);

  border-radius: 2rem;
	width: 90%;
  }

 .jumbotron  h1{ 
	color: rgba(20,20,20,1);
 }
 .jumbotron  h2{
	color: rgba(20,20,20,1);
 }
 .jumbotron  h3{
	color: rgba(20,20,20,1);
 }
 
 .jumbotron-heading{
	padding-bottom: 3.5rem;
 }
 
 
.jumbotron p{
	font-size: 1.2rem; 
	color: #777;
	text-align: left;
}
.pBlack{
  font-size: 1.2rem; 
  color: rgba(20,20,20,1);
 }

.pCitation{
  font-size: 1.4rem; 
  color: rgba(20,20,100,1);
 }
 
.cover {
  font-weight: normal;
  font-size: 1.875em; 
  vertical-align: middle;
}


.card {
  margin-left: 5%;
  margin-bottom: 5%;
  padding: 5%;
  box-shadow: 1rem 1rem 1rem rgba(50,50,50,1);
  
  border-style: none;
  border-radius: 2rem;

  border-color: rgba(50,50,50,1);
  
  background-color: rgba(215,215,215,1);
  
}

.card:hover {
	  background-color: rgba(235,235,235,1);
}

.cardImage{
  width: 100%; 
  height: auto; 
  display: block;
}
.cardDescriptionImage{
  width: 80%; 
  margin:auto;
  display: block;
}


/*
* Poppups
*/

.modal-content  {
  border-radius: 0;
  margin-top: 20%;
  background-color: rgba(150,150,150,1);
  box-shadow: none;
  border-style: none;
  border-radius: 2rem;
}

.modal-footer{
	text-align: justify;
}

.modal-open {
  /*avoid modal stucking background*/
  overflow: visible; 
}

.icon {
  height: 100px;
  width: 100px;
  display: block;
  vertical-align: middle;
}

